In [106]:
import pandas as pd
import os
import re

In [108]:
vanilla_pref = "./surprisal/vanilla/"
vanilla = [vanilla_pref + f for f in os.listdir(vanilla_pref) if not f.startswith(".")]
rnng_pref = "./surprisal/rnng/"
rnng = [rnng_pref + f for f in os.listdir(rnng_pref) if not f.startswith(".")]
on_pref = "./surprisal/ordered-neurons/"
ordered_n = [on_pref + f for f in os.listdir(on_pref) if not f.startswith(".")]

results = vanilla + rnng + ordered_n
results = results[:10]

natural_ref = pd.read_csv("natural_reference.csv")
natural_ref = natural_ref.drop(["Unnamed: 0"], axis=1)
natural_ref["code"] = natural_ref["zone"].map(str) + "_" + natural_ref["item"].map(str)
natural_ref = natural_ref.drop(["zone", "item"], axis=1)

brown_ref = pd.read_csv("brown_reference.csv")
brown_ref = brown_ref.drop(["Unnamed: 0", "subject", "text_id", "text_pos", "word_in_exp", "time"], axis=1)
brown_ref.head()

result = []

for res in results:
    tag = tuple(res.split("/")[3].replace(".csv", "").split("_"))
    print(tag)
    d = [tuple(x) for x in pd.read_csv(res, sep="\t").values.tolist()]
    if ("bnc-brown" in res):
        ref = [tuple(x) for x in brown_ref.values.tolist()]
    else:
        ref = [tuple(x) for x in natural_ref.values.tolist()]
        
    curr_d = d.pop(0)
    curr_ref = ref.pop(0)
    
    while len(d) > 10:
        #print(curr_d[2] + " " + curr_ref[0])
        if curr_d[2] == curr_ref[0]:
            #print("===" + curr_d[2] + "-" + curr_ref[0])
            result.append(curr_d + curr_ref + tag)
            curr_d = d.pop(0)
            curr_ref = ref.pop(0)
        # If current token is unked, then pop both
        elif "UNK" in curr_d[2]:
            curr_d = d.pop(0)
            curr_ref = ref.pop(0)
        # If current ref has punctuation, pop both
        elif not curr_ref[0].isalpha():
            curr_ref = ref.pop(0)
            curr_d = d.pop(0)
        else:
            curr_d = d.pop(0)
        
    
    print(str(len(result)) + ": " + res)

('natural-stories', 'vanilla', 'bllip-md', '0922')
8653: ./surprisal/vanilla/natural-stories_vanilla_bllip-md_0922.csv
('bnc-brown', 'vanilla', 'bllip-md', '0922')
2914: ./surprisal/vanilla/bnc-brown_vanilla_bllip-md_0922.csv
('natural-stories', 'vanilla', 'bllip-xs', '0120')
8109: ./surprisal/vanilla/natural-stories_vanilla_bllip-xs_0120.csv
('natural-stories', 'vanilla', 'bllip-sm', '0120')
8510: ./surprisal/vanilla/natural-stories_vanilla_bllip-sm_0120.csv
('bnc-brown', 'vanilla', 'bllip-sm', '0120')
2839: ./surprisal/vanilla/bnc-brown_vanilla_bllip-sm_0120.csv
('bnc-brown', 'vanilla', 'bllip-xs', '0120')
2682: ./surprisal/vanilla/bnc-brown_vanilla_bllip-xs_0120.csv
('bnc-brown', 'vanilla', 'bllip-xs', '0111')
2682: ./surprisal/vanilla/bnc-brown_vanilla_bllip-xs_0111.csv
('bnc-brown', 'vanilla', 'bllip-sm', '0111')
2839: ./surprisal/vanilla/bnc-brown_vanilla_bllip-sm_0111.csv
('natural-stories', 'vanilla', 'bllip-xs', '0922')
8109: ./surprisal/vanilla/natural-stories_vanilla_bllip-xs_0922.csv
('natural-stories', 'vanilla', 'bllip-sm', '0922')
8510: ./surprisal/vanilla/natural-stories_vanilla_bllip-sm_0922.csv

In [51]:
for f in files:
    d = pd.read_csv("./surprisal/vanilla/"+f, sep="\t")
    d = d[d.token.str.isalnum()]
    d.to_csv(f)

    sentence_id  token_id       token  surprisal
1             1         1          by   3.853741
2             1         2    swirling  12.658666
3             1         3       winds   9.495287
5             1         5         the   3.182703
6             1         6      little   7.220658
7             1         7       green   7.672483
8             1         8     biplane  12.653112
9             1         9   struggled  13.592476
10            1        10   northward  12.297207
11            1        11     between   6.168281
12            1        12         the   1.112468
13            1        13   mountains   6.705411
14            1        14      beyond  11.209697
15            1        15  Northfield  14.651299
16            1        16        Gulf  14.229672
18            2         1       Wires   0.000000
20            2         2          as   4.133575
21            2         3           a   1.347766
22            2         4        cold   8.608049
23            2         5    November  11.896651
24            2         6       blast  12.826581
25            2         7      rocked  13.865658
26            2         8         the   1.171758
27            2         9      silver   8.580326
28            2        10       wings   9.994192
30            2        12         but   3.106557
31            2        13         the   1.783390
32            2        14      engine   7.413930
33            2        15        roar  14.390407
34            2        16         was   2.921659